.admin-box {
  margin: auto;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  width: 1100px;
  height: 800px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.labels {
  text-align: right;
  padding-right: 15px;
  width: 40%;
  color: white;
  font-size: 38px;
}

.input-text {
  color: white;
  width: 80%;
  font-size: 38px;
  border-radius: 5px;
  background-color: #292825;
  padding-left: 5px;
}

.table-scripts {
  width: 100%;
  padding-top: 5%;
  margin: 0 auto;
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding-left: 1%;
  justify-content: space-evenly;
  width: 30%;
  height: 100%;
  /* border: green 2px solid; */
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
}

.menu-buttons {
  height: 50px;
  width: 200px;
  background-color: #363636;
  border-radius: 15px;
  font-size: 18px;
  box-shadow: 2px 6px 6px 1px black;
  color: white;
}

.input-description {
  height: 200px;
  color: white;
  width: 80%;
  font-size: 25px;
  border-radius: 5px;
  background-color: #292825;
  padding-left: 5px;
  text-orientation: sideways;
}

.input-synopsis {
  height: 150px;
  color: white;
  width: 80%;
  font-size: 25px;
  border-radius: 5px;
  background-color: #292825;
  padding-left: 5px;
  text-orientation: sideways;
}
